<div class="navbar">
  <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
  <a routerLink="/student-management" routerLinkActive="active">Gestión de Estudiantes</a>
  <a routerLink="/professor-management" routerLinkActive="active">Gestión de Profesores</a>
  <a routerLink="/academic-planning" routerLinkActive="active">Planificación Académica</a>
  <a routerLink="/academic-events" routerLinkActive="active">Eventos Académicos</a>
  <a routerLink="/gestion-documentos" routerLinkActive="active">Gestión de Documentos </a>
</div>
<div class="dashboard-container">
  <!-- app.component.html -->



<router-outlet></router-outlet>

  <h2>Bienvenido al Sistema de Gestión Académica</h2>

  <div class="stats-container">
    <div class="stat-card" *ngFor="let stat of stats">
      <div class="stat-icon">
        <i [class]="stat.iconClass"></i>
      </div>
      <div class="stat-info">
        <p>{{ stat.label }}</p>
        <h3>{{ stat.value }}</h3>
      </div>
    </div>
  </div>

  <div class="chart-container">
    <h3>Estadísticas Semestrales</h3>
    <canvas id="semesterChart"></canvas>
  </div>
</div>
