<!-- register.component.html -->

<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <label for="email">Email:</label>
    <input type="email" id="email" formControlName="email">
  
    <label for="name">Name:</label>
    <input type="text" id="name" formControlName="name">
  
    <label for="password">Password:</label>
    <input type="password" id="password" formControlName="password">
  
    <button type="submit">Register</button>
  
    <p *ngIf="registrationSuccess" class="success-message">¡Registro exitoso!</p>
    <p *ngIf="registrationError" class="error-message">{{ registrationError }}</p>
  
    <p>¿Ya tienes cuenta? <a routerLink="/login">Inicia sesión</a></p>
  </form>
  